pipeline/bronze_ingestion.json
{
	"name": "bronze_ingestion",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.loop_input",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CDC Fetch",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": "cdcfolder",
										"file": {
											"value": "@concat(item().table,'cdc.json')",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "VarCurrent",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Moving the Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CDC Fetch",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "VarCurrent",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\n  'SELECT * FROM ',\n  item().schema, '.',\n  item().table,\n  ' WHERE ',\n  item().cdc_column,\n  ' > ''',\n  if(\n      empty(item().from_date),\n      activity('CDC Fetch').output.value[0].cdc,\n      item().from_date\n  ),\n  ''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "parquetDataset",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@item().table",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(item().table,variables('current'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "If Incremental",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Moving the Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Moving the Data').output.dataRead,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "DeleteEmptyFile",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "parquetDataset",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"file": {
														"value": "@concat(item().table,variables('current'))",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Updated cdcJson",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "MAX_CDC",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@activity('MAX_CDC').output.resultSets[0].rows[0].cdcOp",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": "cdcfolder",
													"file": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": "cdcfolder",
													"file": {
														"value": "@concat(item().table,'cdc.json')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "MAX_CDC",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSQL_Connection",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@concat('SELECT MAX(',item().cdc_column, ') as cdcOp FROM ',item().schema,'.',item().table)",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Skip Alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-91.eastus.logic.azure.com:443/workflows/3c9a4e2a0c674304bcf11d8b4084ffaa/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=VLHcbXd3Mggx7yQcwGiX9FSdQV9sxkFjcxicob0krwQ",
					"body": {
						"value": "{\n    \"pipeline_id\":\"@{pipeline().RunId}\",\n    \"pipeline_name\":\"@{pipeline().Pipeline}\",\n    \"alert_type\":\"skip\",\n    \"pipeline_activity\":\"No New Records were found or something internal may have happend So SKIPPED THE PIPELINE without Changing any records or files\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Success Alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-91.eastus.logic.azure.com:443/workflows/3c9a4e2a0c674304bcf11d8b4084ffaa/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=VLHcbXd3Mggx7yQcwGiX9FSdQV9sxkFjcxicob0krwQ",
					"body": {
						"value": "{\n    \"pipeline_id\":\"@{pipeline().RunId}\",\n    \"pipeline_name\":\"@{pipeline().Pipeline}\",\n    \"alert_type\":\"success\",\n    \"pipeline_activity\": \"Successfully Added the New Records\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failure Alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-91.eastus.logic.azure.com:443/workflows/3c9a4e2a0c674304bcf11d8b4084ffaa/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=VLHcbXd3Mggx7yQcwGiX9FSdQV9sxkFjcxicob0krwQ",
					"body": {
						"value": "{\n    \"pipeline_id\":\"@{pipeline().RunId}\",\n    \"pipeline_name\":\"@{pipeline().Pipeline}\",\n    \"alert_type\":\"fail\",\n    \"pipeline_activity\":\"Something went Wrong\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"loop_input": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "DimUser",
						"cdc_column": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimTrack",
						"cdc_column": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimDate",
						"cdc_column": "date",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimArtist",
						"cdc_column": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "FactStream",
						"cdc_column": "stream_timestamp",
						"from_date": ""
					}
				]
			}
		},
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}